@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300;400;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Josefin Sans", sans-serif;
  background: rgb(2, 0, 36);
  background: #222831;
}
.container {
  position: relative;
  width: 220px;
  height: 220px;
  background: #393e46;
  color: white;
  border-radius: 20px;
  overflow: hidden;
}
.profile-container,
.skills-container {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
.profile-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: all 0.5s;
}
.profile-img {
  width: 42%;
  border-radius: 50%;
}
.profile-name {
  font-size: 1.05rem;
  font-weight: 600;
  padding-top: 1.2rem;
  padding-bottom: 0.5rem;
}
.profile-title {
  font-size: 0.87rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.45);
}
.container .arrow,
.container .close {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 1.2rem;
  background: rgb(241, 241, 241);
  color: black;
  z-index: 2;
  transition: all 0.3s;
  cursor: pointer;
}
.arrow i {
  transform: rotate(45deg);
}
.container i:not(.socials i):hover {
  background: white;
}
.skills-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1.3rem;
  padding: 2rem 1.6rem;
  right: 82%;
  bottom: 182%;
  transform: rotate(90deg);
  background: #ffd369;
  color: #222831;
  transition: all 0.5s;
  /* border: 2px solid #0f314d; */
}
.profile-container.non-active {
  opacity: 0;
}
.active {
  opacity: 1;
}
.skills-container.active {
  right: 0;
  bottom: 100%;
  transform: rotate(0);
}
.skill-title {
  font-size: 1.2rem;
  font-weight: 600;
}
.skills {
  color: rgba(34, 40, 49, 0.9);
  width: 100%;
}
.skill {
  display: inline-block;
  font-size: 0.7rem;
  /* font-weight: 600; */
  width: max-content;
  padding: 0.4rem 0.8rem;
  border-radius: 5px;
  border: 1px solid rgba(34, 40, 49, 0.9);
  margin-right: 0.3rem;
  margin-bottom: 0.4rem;
  text-align: center;
  text-transform: uppercase;
}
.socials {
  display: grid;
  grid-template-columns: repeat(4, minmax(min-content, max-content));
  gap: 1.3rem;
}
.socials i {
  font-size: 1.2rem;
  color: rgba(34, 40, 49, 0.8);
}
.socials i:hover {
  color: #222831;
}
